<a href="https://colab.research.google.com/github/happywintern/Tugas-DasarPemrograman/blob/main/Tugas_Looping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama: Mutiara Rachma Aitika Andewa

NIM: J0403231159

Email: mutiaraaitika@gmail.com

Iteration Variable

In [ ]:
favorites = ['Churros', 'Tiramisú', 'Pudding']

count = 0		# count is iteration variable

while count < len(favorites):
    print('One of my favorite desserts is', favorites[count]);
    count += 1

Calculate Bacteria colony

In [ ]:
time = 0
population = 1000 # 1000 bacteria to start with
growth_rate = 0.21 # 21% growth per minute
while population < 2000:
population = population + growth_rate * population
print(round(population))
time = time + 1
print("It took", time, "minutes for the bacteria to double.")
print("The final population was", round(population), "bacteria.")

Infinite loop

In [ ]:
count = 0	# Incorrectly initialized variable
while count < 10:
    print("This loop will never exit")

Avoiding infinite loop by giving break

In [ ]:
text = ""
while text != "q":										# not use while True
  text = input("Please enter a chemical formula (or 'q' to exit): ")	# user input
  if text == "q":
    print("…exiting program")
    Break											# break
  elif text == "H2O":
    print("Water")
  elif text == "NH3":
    print("Ammonia")
  elif text == "CH4":
    print("Methane")
  else:
    print("Unknown compound")

For loop example

In [ ]:
favorites = ['Churros', 'Tiramisú', 'Pudding']

for dessert in favorites:
    print('One of my favorite desserts is', dessert)

Looping through a sets of items

In [ ]:
days_of_week = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

for day in days_of_week:
    print(day)

Counting

In [ ]:
survey_responses = ["positive", "neutral", "positive", "negative", "positive", "positive", "neutral"]

positive_count = 0

for response in survey_responses:
    if response == "positive":
        positive_count += 1

print(f"Number of positive responses: {positive_count}")

Summing

In [ ]:
sales_transactions = [100.50, 75.25, 50.75, 30.00, 45.50]

total_revenue = 0

for transaction in sales_transactions:
    total_revenue += transaction

print(f"Total revenue: ${total_revenue:.2f}")

Filtering

In [ ]:
sales_transactions = [100.50, 75.25, 50.75, 30.00, 45.50]

total_revenue = 0

for transaction in sales_transactions:
    total_revenue += transaction

print(f"Total revenue: ${total_revenue:.2f}")

Searching

In [ ]:
sales_transactions = [100.50, 75.25, 50.75, 30.00, 45.50]

total_revenue = 0

for transaction in sales_transactions:
    total_revenue += transaction

print(f"Total revenue: ${total_revenue:.2f}")

Finding Maximum/Minimum

In [ ]:
sales_transactions = [100.50, 75.25, 50.75, 30.00, 45.50]

total_revenue = 0

for transaction in sales_transactions:
    total_revenue += transaction

print(f"Total revenue: ${total_revenue:.2f}")

Looping over a range of numbers

In [ ]:
days_in_month = 30
start_day = 1 #1st day of the month

print("<< Dummy Calendar >>")
print("Mon Tue Wed Thu Fri Sat Sun")
for day in range(1, days_in_month + 1):
    print(f"{day:3d}", end=" ")

    # new line for next week (Sunday)
    if (day + start_day - 1) % 7 == 0:
        print()

Nested Loops

In [ ]:
height = 5  # Height of the pyramid

for i in range(1, height + 1):
    # Print spaces before the stars
    for j in range(height - i):
        print(" ", end="")

    # Print the stars
    for k in range(2 * i - 1):
        print("*", end="")

    # Move to the next line after each row
    print()

Controlling loops - else

In [ ]:
favorites = ['Churros', 'Tiramisú', 'Pudding']

for dessert in favorites:
    if dessert == 'Pudding':
        print('Yes one of my favorite desserts is', dessert)
else:
    print('No sorry, that dessert is not on my list')

Controlling loops - break

In [ ]:
favorites = ['Churros', 'Tiramisú', 'Pudding']

for dessert in favorites:
    if dessert == 'Pudding':
        print('Yes one of my favorite desserts is', dessert)
else:
    print('No sorry, that dessert is not on my list')

Controlling loops - continue

In [ ]:
favorites = ['Churros', 'Tiramisú', 'Pudding']

for dessert in favorites:
    if dessert == 'Pudding':
        print('Yes one of my favorite desserts is', dessert)
else:
    print('No sorry, that dessert is not on my list')

Controlling loops - pass

In [ ]:
valid_login = "admin"
valid_password = "password"

while True:
    login = input("Enter your login: ")
    password = input("Enter your password: ")

    if login == valid_login and password == valid_password:
        print("Authentication successful!")
        break
    else:
        print("Invalid credentials. Please try again.")
        pass  # Placeholder for later (e.g., account lockout)

print("Welcome, admin!")